@import url('https://fonts.googleapis.com/css2?family=Ribeye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

#logo {
    font-family: 'Ribeye', cursive;
}

#login {
    margin-top: 8rem !important;
}

#image-stop {
    width: 50%;
    height: auto;
}

#role {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    width: 10rem;
}

#login-text {
    color: #F18701;
}

.btn-primary {
    background-color: #F18701 !important;
    color: white !important;
    border: none !important;
}

@media screen and (max-width: 1000px) {
    #field-image {
        display: none;
    }

    #login {
        margin-top: 1rem;
    }
}

#row {
    width: 30%;
}

input::placeholder {
    overflow: visible;
}