body {
    font-family: 'Lato', sans-serif;
}

.btn-primary {
    background-color: #F18701 !important;
    border: 0;
}

.btn-link {
    text-decoration: none;
    color: black;
}

.dropdown-menu a:hover {
    background-color: #F18701 !important;
}

.dropdown-toggle {
    text-decoration: none;
    color: black;
}

#sub-nav {
    background-color: #B3D6FF;
}

#sub-nav button {
    background-color: #E5EEFF;
    border-radius: 15px;
}

/* #sub-nav .subnav-content {
    list-style-type: none;
    display: none;
}

#sub-nav:hover .subnav-content {
    display: block;
    background-color: #F18701;
} */

/* #Filter-type {
    width: 200px;
} */